body {
  padding-top: 60px;
}
#carousel-parts .item {
  height: 500px;
  background-color: #fff;
}
#carousel-pictures .item {
  height: 500px;
}
p {
  font-size: 1.2em;
  margin-top: 1em;
}
#table-parts {
  font-size: 1.2em;
}
#table-parts tfoot {
  color: white;
  background-color: #33b5e5;
}
#table-parts tr td:first-child, #table-parts tr th:first-child {
  text-align: right;
}
.thumbnail {
  position: relative;
  }
.thumbnail .caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 4px;
  padding: 10px 15px 8px;
  background: #282828;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
}